<div class="max-h-full min-h-100 group flex flex-col bg-[var(--CardColor)] w-auto rounded-md justify-between items-center
    mb-4 sm:mb-6 md:mb-8 lg:mb-10 py-2 sm:py-4 md:py-6 px-2 sm:px-4 md:px-6
     transition-transform duration-500 hover:scale-105">

    <h2 class="text-base sm:text-lg md:text-xl lg:text-2xl text-[var(--ColorSecundary)] font-bold mb-1 sm:mb-2">
        @Project.Name
    </h2>
    <img class="max-w-full max-h-full w-auto h-40 mb-2 object-contain" src="@Project.Path" alt="@Project.Name" />

    <div class="grid grid-cols-4 gap-2 sm:gap-4 md:gap-6 lg:gap-8 mb-2 mt-2 justify-items-center">
        @foreach (var tech in Project.Techs)
        {
            <img class="w-auto h-8" src="@TechMap.Icon(tech)" alt="@tech.ToString()" />
        }
    </div>

    <h3 class="text-sm sm:text-base md:text-lg lg:text-xl text-(--TextColor) text-pretty mb-2 sm:mb-4">
        @Project.Description
    </h3>

    <div class="flex flex-col xl:flex-row justify-center items-center gap-2 mt-2">

        <GithubButton ProjectUrl="@Project.Url" />

        @if (!string.IsNullOrEmpty(Project.DeployUrl))
        {
            <DeployButton DeployUrl="@Project.DeployUrl" />
        }

    </div>

    <div class="absolute bottom-0 left-0 h-1 bg-(--ColorSecundary) w-0 group-hover:w-full transition-all duration-500">
    </div>

</div>

@code {

    [Parameter]
    [EditorRequired]
    public ProjectDTO Project { get; set; }
}